/* .container {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;    
} */

/* .kotak {
    width: 80px;
    height: 80px;
    color: white;
    background-color: salmon;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    margin: 2px;
    float: left;
} */
/* .kiri {
    width: 150px;
    height: 500px;
    background-color: salmon;
    float: left;
}

.tengah {
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: limegreen;
    float: left;
} */

/* .kotak {
    width: 80px;
    height: 80px;
    margin: 2px;
    background-color: salmon;
    color: white;
    float: left
}

.clear {
    clear: left;
}

/* bisa juga clear pake tehnik clearfix tinggal search aja di gumgel */
/*
img {
    float: left;
    margin: 5px;
}

.kosong {
    clear:left
} 

/* Diatas itu latihan float */

body {
    height: 2000px;
}

div {
    width: 200px;
    height: 200px;
    margin: auto;
}

.satu {
    background-color: green;
}

.dua {
    background-color: violet;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
}

.tiga {
    background-color: yellow;
}

.container {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}


