$dark_color: #1d1d1d;
$darker-color: #1a1a1a;
$gray-color: #e5e5e5;

body {
    background-color: $dark_color;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    color: $gray-color;
    margin-top: 4em;

    .heading {
        font-size: 1.8em;
        margin-top: 200px;
    }

    .information {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 270px;
    }

    footer {
        background-color: $darker-color;
        padding: 1em;
        font-size: .8em;
        color: rgba(229, 229, 229, .5);
        cursor: default;
    }

    &:selected {
        background-color: $darker-color;
    }
}

