.kotak {
    width: 200px;
    height: 200px;
    background-color: salmon;
    border-top-right-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
    text-align: center;
    line-height: 200px;
}